@font-face {
  font-family: "nunito";
  src: url(../../../../assets/fonts/Nunito-VariableFont_wght.ttf);
}

.title-screen {
  margin: 2rem auto 0;
  text-align: center;
  font-family: 'nunito';
  >h1 {
    font-size: 4rem;
    margin: 0;
  }
  >h2 {
    font-size: 1rem;
    margin-bottom: 2.5rem;
  }

  input {
    border: none;
    border-bottom: 1px solid #ccc;
    width: 20rem;
    padding: .1rem .8rem;
    display: block;
    margin: 0 auto;
    &:focus {
      border-radius: 5px;
    }
  }

  #partenon-drawing {
    width: 300px;
  }
}