.opening-hours p {
    background: #ddd;
    margin: .2rem;
    
    text-align: center;
    padding: .2rem .4rem;
    border-radius: 0px;
}
.opening-hours {
    margin: 2rem 0;
    font-family: monospace;
}