.select{
    width: 50%;
    padding: .3rem 1rem;
    margin: .5rem 0;
    background-color: #efefef;
    color: #222;
    border: 1px solid gainsboro;
    border-radius: 4px;
    cursor: context-menu;
    font-family: monospace;
}
.select:focus {
    border-color: #02bac7;
}

.sub-select{
    width: min-content;
    padding: .3rem;
    margin: .5rem;
    background-color: #efefef;
    color: #222;
    border: 1px solid gainsboro;
    border-radius: 4px;
    cursor: context-menu;
    font-family: monospace;
}