[data-museum-banner] {
    min-height: 14rem;
    padding: 2rem 0 0 2rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    h2 {
        font-size: 3rem;
    }
    & label, select {
        color: white;
    }
}