[data-option] {
    width: 8rem;
    margin: .2rem .5rem;
    text-decoration: none;
    cursor: pointer;
    div {
        box-sizing: border-box;
        width: 8rem;
        height: 8rem;
        border-radius: 4px;
        transition: .1s;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: monospace;
        &:hover {
            background-color: #eee;
            border: 3px solid;
        }

        p {
            
            font-size: 4.5rem;
            span {
                
                font-size: 2rem;
            }
        }
    }
    span p {
        color: #222;
        margin: .2rem 0;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        text-align: center;
    }
    
}