[data-museum-item] {
    display: flex;
    flex-wrap: wrap;
    width: max-content;
    height: 10rem;
    margin: 1rem;
    border-radius: 10px;
    text-decoration: none;

    &:hover {
        background-color: #eee;
        outline: 1px solid #0070f0;
    }
  
    img {
        width: 10rem;
        height: 10rem; 
        border-radius: 10px;
        overflow: hidden;
    }

    h2, p {
        color: #222;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        margin: .2rem .4rem;
    }
    
    h2 {font-size: 1.5rem;}
}