.field {
  display: block;
  border: 1px solid #dadce0;
  border-radius: 5px;
  color: #5f6368;
  margin: .5rem auto;
  padding: 0.6rem;
  width: 80%;
  height: 1.2rem;
}
.field:focus {
  border-width: 1.2px;
  outline: none;
  border-color: #0070f0;
}
.invalid:focus {border-color: rgb(255, 151, 16);}