[data-museum-banner] {
    min-height: 14rem;
    height: min-content;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #222;
    max-height: 100vh;
    overflow: hidden;
    img {
        background-color: #ccc;
        width: 100%;
    }
    p {
        display: block;
        text-rendering:optimizeLegibility;
        padding-left: 1rem;
    }
    
}