[data-confirm-cover] {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.6);
}


[data-confirm] {
    width: 15rem;
    max-height: 18rem;
    overflow-y: auto;
    position: fixed;
    left: calc(50% - 7.5rem);
    top: calc(50vh - 4rem);
    z-index: 10;

    padding-bottom: .5rem;
    border: 1px solid #bbb;
    border-radius: 6px;
    background-color: #fff;
}
[data-confirm] * {
    position: relative;
    text-align: center;
}
[data-confirm] div {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
[data-confirm] button {
    margin: 0;
}