.contact-info {
    position: relative;
    max-width: 400px;
    margin: 0 auto;
}

.contact-item {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.contact-info .contact-item p {
    padding: 0 .8rem;
    display: block;
}