.contact-info {
    margin: 1rem;
    font-family: monospace;
}


.contact-list {
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #eee;
    padding: 1rem;
    align-self: center;
}

.contact-list .contact-item {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.contact-list .contact-item p {
    display: flex;
    align-items: center;
    margin: .2rem 1rem;
}

.contact-list .contact-item p svg {
    padding: 0 .2rem;
}