nav {
  display: flex;
  padding: 0;
  >a {
    flex: 1;
    border-bottom: 2px solid gainsboro;
    padding: 5px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    &.active {
      border: none;
      border-bottom: 3px solid #0e46ff;
    }
  
  
    font-size: 0.8rem;
      text-decoration: none;
      color: #222;
      cursor: pointer;
      svg {
        display: block;
        margin-right: .2rem;
        font-size: 1.2rem;
      }
  }
    
  
}
