.data-box {
    background-color: white;
    border-radius: 5px;
    width: min-content;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex: 1;
    margin: 0 4px
}

.data-box h3 {
    margin: 0;
    padding: 2px 5px;
    font-size: 1rem;
    background-color: #363636;
    border-radius: 5px;
    color: white;
    display: block;
    text-align: center;
    width: 100%;
}

.data-box data {
    text-align: center;
    width: 100%;
}