[data-museum-banner] {
    min-height: 14rem;
    padding: 2rem 0 0 2rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #111;
    &>img {
        background-color: #ccc;
        border-radius: 15px;
        float: left;
        height: 12rem;
        margin-right: 2rem;
    }
    &>h2 {
        font-size: 2rem;
    }
    &>div {
        margin: 0;
        display: inline-block;
        min-width: "200px";
    }
    &>div>* {
        margin-right: 1rem;
        display: inline;
    }
}